body {
  background-color: #f7b617;
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 2;
}

.logo {
  width: 65%;
}

.logo-write {
  width: 35%;
  margin-top: -4px;
  display: inline-block;
}

.bg-img {
  background-position: center bottom; 
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100%;
}

.bg-taxi {
  background-image: url('../assets/images/taxi.jpg');
  height: 100vh;
}

.bg-conduce {
  background-image: url('../assets/images/conduce.jpg');
}

.bg-tx-conduce {
  background-color: rgba(0, 0, 0, 0.6);
  height: 60vh;
}

.bg-color {
  background-color: #f7b617;
}

.bg-color-white {
  background-color: white;
}

.bg-color-footer {
  background-color: #2b2b2b;
}

.m-top-bttm{
  margin-top: 30vh;
}

.tx-white {
  color: white;
}

.bder {
  border: 1px solid white;
}

.color-place::placeholder {
  color: white;
}

.line-p::before,
.line-p::after {
  content: '';
  width: 20%;
  height: 2px;
  background-color: white;
  display: inline-block;
  margin: 4px 20px ;
}

.mb-0 {
  margin-top: 195px;
}

.mb-0-icons {
  margin-top: 90px;
}


@media (min-width: 320px) and (max-width: 767px) {
  .mb-0-icons {
    margin-top: 0px;
  }

  .m-phone {
    margin-left: 15px;
  }
}

/************Modales**************/

/*modal login*/

.img-logo {
  width: 150px;
  height: 150px;
}

#div-forms {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.modal-content {
  background-color: #08ac9d;
}

.btn-here {
  color: red;
}

.btn-forgot {
  color: black;
}

/*modal-registro*/

.modal-registro-gris {
  background-color: #c4c4c4;
}

.p-0 {
  padding: 0px;
}

.bg-plomo {
  background-color: #f5f5f5;
}

/*google-maps*/
#map {
  height: 400px;
  width: 100%;
 }

 


